# Frontend
FRONTEND_PORT=4200

# Backend
BACKEND_PORT=8000

# PostgreSQL
POSTGRES_DB=app_db
POSTGRES_USER=app_user
POSTGRES_PASSWORD=app_password
POSTGRES_PORT=5432

# pgAdmin
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=adminpassword
PGADMIN_PORT=8081
